body{
    background-color:rgb(43, 63, 80);
    background-image: url(/ProjetoOceano/img/oceanogif.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

#tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#faixa {
    height: 250px;
    background-color: #2e2e2e;
    background: linear-gradient(to bottom,rgb(51, 87, 132) , rgb(51, 87, 132, 0));
    display: grid;
    color: black;
    justify-content: center;
    width: 100%;
}

#logo{
    padding-top: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
}

#legenda{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    background-color: rgb(46, 60, 62, 0.3);
    height: 50px;
    width: 500px;
    border-radius: 10px;
}

.bta{
    text-align: center;
}

.btn{

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 0;
font-size: 14px;
color: #2E3C3E;
background-color: #0066cc00;
padding: 10px 30px;
border: none;
box-shadow: none;
border-radius: 20px;
transition : 605ms;
transform: translateY(0);
cursor: pointer;
}

.btn:hover{

transition : 605ms;
padding: 10px 33px;
transform : translateY(-5px);
background-color: #ffffff00;
color: #000000;
border: solid 2px #45454566;
}
#midbox{
    background: linear-gradient(to top, rgb(43, 63, 80), rgb(43, 63, 80, 0.05));
    width: 80%;
    height: 500px;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(203, 203, 203);
    text-align: center;
    text-indent: 50px;
}